{% extends "index.html" %}
{% load static %}
{% block content%}
    <hr>

<div style="margin-left:40px;">
total polls exists : {{total_polls}} <br>
total votes till today : {{total_votes}} <br>
total users till today : {{total_users}} <br>
    <div>most voted poll till today : <a href="{% url 'detail' top_poll.id%}">{{top_poll.title}}</a>
    <b>Category :</b> {{top_poll.category}} <br>
</div>
polls per category : <br>
{% for item in category_wise %}
<b>{{ item.category }}</b> → {{ item.total_poll }}
{% endfor %}
</div>
{% endblock  %}