{% extends "index.html" %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
<h1>hello dear {{request.user.username }} , Welcome!! ;</h1>
{% else %}
<h1>Bhai <i>LogIn</i> ya <i>SignUp</i> kar le !!</h1>
{% endif %}
{% if messages %}
{% for msg in messages %}
<div style ="color : red ;">{{msg}}</div>
{% endfor %}
{% endif %}
{% for poll in polls %}
{% comment %} {% if poll.is_active %} {% endcomment %}
<div class="form-group">
    poll created by <i>{{poll.created_by}}</i> at <i>{{poll.created_at}}</i>
    <ul>
    <li><b>Title  : </b>{{poll.title}}</li>
    <li><b>Description : </b>{{poll.description}}</li>
    <li><b>Category : </b>{{poll.category}}</li>
    </ul>
    {% for opt in poll.polloption_set.all %}
    <div class="form-group">
    {{opt.option_text}}
    {% if request.user.is_authenticated %}
    <a href="{% url 'voting' poll.id opt.id %}">Vote</a>
    {% else %}
    <b>Vote</b>
    {% endif %}
    </div>
    {% endfor %}
    {% if poll.id in voted_polls %}
    <a href="{% url 'detail' poll.id %}">View Result</a>
    {% endif %}
</div>
{% comment %} {% endif %} {% endcomment %}
{% endfor %}
{% endblock content %}
