{% extends "index.html" %}
{% load static %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class = "mb-3">
    <input type="text" name="username" placeholder="username" required class="form-control">
    <input type="email" name="email" placeholder="email" required class="form-control">
    <input type="password" name="password" placeholder="password" required class="form-control">
    <input type="password" name="cpassword" placeholder="confirm password" required class="form-control">
    <button type="submit">Sign-Up</button>
</div>
</form>
{% if messages %}
{% for msg in messages %}
<div style ="color : red ;">{{msg}}</div>
{% endfor %}
{% endif %}
{% endblock content %}